@media (max-width: 1024px) {
  .band-img {
    display: none;
  }
  .container-text {
    padding-right: 100px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .band-img {
    display: none;
  }
  .text-container {
    margin: 0;
  }
}

@media (max-width: 432px) {
  .primary-header {
    font-size: 5rem;
  }
  .text-container {
    margin: 0;
    padding: 10px;
  }
  .container-text {
    font-size: 1.5rem;
    padding: 0;
  }
}
